:root {
  --main: #ffff;
  --border: #0000;
}

* {
  box-sizing: border-box;
}

.navbar {
  font-size: 20px;
  padding: 30px;
  color: var(--main);
}

.search-bar,
.forecast {
  background-color: whitesmoke;
}

.searchBtn {
  margin: 10px;
}

.heading-text {
  font-size: 30px;
  font-weight: 500;
}
